/* App.css */
:root {
  --background-color: rgb(16, 20, 20);
  --card-background: rgb(32, 28, 28);
  --border-color: rgb(96, 96, 96);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.87);
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
}

td {
  background-color: rgb(32, 28, 28);
  text-align: center;
}

th {
  position: relative;
  background-color: rgb(24, 20, 20);
  font-weight: normal;
  color: white;
}

th::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 0;
  width: 2px;
  background-color: #ccc;
}
h1 {
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.5;
  font-size: 1.625rem;
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
